a {
    color: black;
}
.container {
    background: url("../images/new-coding.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 70%;
    
}
h3 {
    font-size: 1.7em;
    margin-bottom: 10px;
}
h2 {
    margin-top: 15px;
    color: black;
}

.small-text {
    font-size: 15px;
}
.section {
    margin-top: 50px;
}
.project-title {
    font-size: 1.5em;
    color: black;
}

.index-html-code {
    max-height: 100%;
    width: 99%;
}

.words {
    margin: 10px 0px 10px 0px;
}

  /* Add a gray background color with some padding */

  
  /* Header/Blog Title */
  .project {
    padding: 30px;
    font-size: 40px;
    text-align: center;
  }
  
  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .leftcolumn {   
    float: left;
    width: 75%;
    margin-bottom: 20px;
  }
  
  /* Right column */
  .rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
  }


  /* Add a card effect for articles */
  .card {
     background-color: white;
     padding: 20px;
     margin-top: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

@media screen and (min-width: 1350px) {
  .project-title {
    color: white;
  }
}
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}
