.left {
    background-image: url("../images/gear.jpg");
    background-size: cover;
}

.middle {
    background-image: linear-gradient(to top, white, #f4f8ff);
}

.right{
    background-image: linear-gradient(to top, white, #f4f8ff);
}

.ff, .wasted {
    margin: 40px;
    display: flex;
    height: 300px;
    width: 300px;
}

.ff {
    margin-right: 80px;
}

.wasted {
    margin-left: 80px;
}

@media (max-width: 991px) {
    .wasted, .ff {
        display: none;
    }
    .middle {
        background-image: url("../images/wasted.png");
        background-size: cover;
        min-height: 300px;
        background-position: 50%;
    }
}
