
.container {
    margin-top: 50px;
    min-height: 1017px;
}
a {
    color:black;
}
.effect-underline {
    text-decoration: none;
    color: white;
}

.gear {
    height: 100vh;
    display: flex;
    background: url("../images/music-logo.jpg");
    background-size: cover;
    background-position: 50% 60%;
    justify-content: center;
    align-items: center;
}

.songs {
    height: 100vh;
    display: flex;
    background: url("../images/guy.jpg");
    background-size: cover;
    justify-content: center;
    align-items: center;
}
a.effect-underline:after {
	content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  border-bottom: 1px solid;
  margin-top: 10px;
  opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

a.effect-underline:hover:after {
  opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

