
.container {
    padding-top: 50px;
    min-height: 1017px;
}

.box {
    display: flex;
    justify-content: center;
    width: 33.33%;
    align-items: center;
    float: left;
}

.box:hover {
    background: gray;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }

  .box:hover .image {
    opacity: 0.6;
  }
